


.subscribe_button { 
    background-color: rgb(218, 36, 36);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  
    margin-right: 5px;
    transition: opacity 4s;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;

}


.subscribe_button:hover{

opacity: 0.1;
font-stretch: wider;

}
.subscribe_button:active{

    opacity: 0.5;
}
.join_button {
background-color: white;
border-color: black;
cursor: pointer;
transition: background-color 4s;
color: green;
padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
border-width: 1px;

}
.join_button:hover{
background-color: blue;
color:green;



}
.tweet_button{
background-color:rgb(17, 0, 255);
border-radius: 10px;
color: white;
cursor: pointer;
transition: box-shadow 4s;
padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.tweet_button:hover{
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}