.header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  
}
.section-one{

    justify-content: space-between;
    display: flex;
    align-items: center;

    width: 170px;
}
.menu-icon{
    height: 40px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.youtube-icon{
    height: 65px;
    width: 80px;
}
.section-two{
    justify-content: space-between;
align-items: center;
    max-width: 1000px;
    margin-left: 25px;
    margin-right: 15px;
    display: flex;
    flex: 1;

   

}
.search-bar{
    flex: 1;
    height: 40px;
    width: 0;
    padding-left: 10px;
    margin: 0;
    border: 1px solid rgb(192,192,192);
    box-shadow: inset 1px 1.5px 1.5px  rgba(0, 0, 0, 0.0897);
}
.search-bar::placeholder{
font-size: 17px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-container,
.notification-container{
    display: flex;
align-items: center;
justify-content: center;
    position: relative;
    cursor: pointer;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container  .tooltip,
.youtube-app-container .tooltip,
.notification-container .tooltip{
    position: absolute;
    background-color:gray;
    color: white;
    padding-left: 5px;
  padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    white-space: nowrap;
    bottom: -35px;
    pointer-events: none;  /*when cursor arive on the tooltip, nothing happen*/

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notification-container:hover .tooltip{
    opacity: 1;
    transition: opacity 0.5s;
}

.search-button{
    height: 46px;
    width: 100px;
    border: 1px solid gray;
    margin-right: 10px;

}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: 0;
    border-color: gray;
    border-width: 1px;
}

.search-icon{
    height: 30px;
    width: 30px;
}

.section-three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    width: 180px;
    flex-shrink: 0;
}
 
.notification-icon,
.channel-picture,
.upload-icon,
.youtube-apps-icon{
    height: 30px;
    width: 40px; 
}
.channel-picture{
    border-radius: 20px;
}

.no-of-notification{
    position: absolute;
    background-color: rgb(175, 5, 5);
    height: 17px;
    width: 17px;
    border-radius: 25px;
    border: 0;
   top: -2px;
    right: 10px;
    color: white;

}